<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      Happy Stems feedback page
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dj_app/css/feed.css' %}"/>
    <script type="text/javascript">
    function display() {

      document.getElementById("Overall Progress").innerHTML="Thank You for your Feedback.Do visit us Again"
    }
    </script>
    <style>
      body
          {
             font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande","Lucida Sans Unicode",Arial,Noto Sans, sans-serif; 
             margin-left:50px;
             background-image:url("/static/dj_app/images/pinky.png");
             background-size: 1600px 1000px;
          }
    </style>
  </head>
  <body>
    <div class="title">
      <h1>Welcome to Happy Stems Feedback form</h1>
      <h3>Rate your feedback</h3>
    </div>
        <p>Flexibility of delivery schedule</p>
        <div class="app">
   <div class="container">
     <div class="item">
       <label for="0">
       <input class="radio" type="radio" name="feedback" id="0" value="0">
       <span>🤬</span>awful
     </label>
     </div>

     <div class="item">
       <label for="1">
       <input class="radio" type="radio" name="feedback" id="1" value="1" >
       <span>🙁</span>bad
     </label>
     </div>

     <div class="item">
       <label for="2">
       <input class="radio" type="radio" name="feedback" id="2" value="2" >
       <span>😶</span>okay
     </label>
     </div>

     <div class="item">
       <label for="3">
       <input class="radio" type="radio" name="feedback" id="3" value="3" >
       <span>😁</span>good
     </label>
     </div>

     <div class="item">
       <label for="4">
       <input class="radio" type="radio" name="feedback" id="4" value="4" >
       <span>😍</span>great
     </label>
     </div>
   </div>
 </div>

        <p>Ability to meet scheduled delivery date </p>
        <div class="app1">
   <div class="container1">
     <div class="item1">
       <label for="5">
       <input class="radio1" type="radio" name="feedback" id="5" value="0" >
       <span>🤬</span>awful
     </label>
     </div>

     <div class="item1">
       <label for="6">
       <input class="radio1" type="radio" name="feedback" id="6" value="1" >
       <span>🙁</span>bad
     </label>
     </div>

     <div class="item1">
       <label for="7">
       <input class="radio1" type="radio" name="feedback" id="7" value="2" >
       <span>😶</span>okay
     </label>
     </div>

     <div class="item1">
       <label for="8">
       <input class="radio1" type="radio" name="feedback" id="8" value="3" >
       <span>😁</span>good
     </label>
     </div>

     <div class="item">
       <label for="9">
       <input class="radio1" type="radio" name="feedback" id="9" value="4" >
       <span>😍</span>great
     </label>
     </div>
   </div>
 </div>
        <p>Quality of product upon delivery </p>
        <div class="app2">
   <div class="container2">
     <div class="item2">
       <label for="10">
       <input class="radio" type="radio" name="feedback" id="10" value="0" >
       <span>🤬</span>awful
     </label>
     </div>

     <div class="item2">
       <label for="11">
       <input class="radio2" type="radio" name="feedback" id="11" value="1" >
       <span>🙁</span>bad
     </label>
     </div>

     <div class="item2">
       <label for="12">
       <input class="radio2" type="radio" name="feedback" id="12" value="2" >
       <span>😶</span>okay
     </label>
     </div>

     <div class="item2">
       <label for="13">
       <input class="radio2" type="radio" name="feedback" id="13" value="3" >
       <span>😁</span>good
     </label>
     </div>

     <div class="item2">
       <label for="14">
       <input class="radio1" type="radio" name="feedback" id="14" value="4">
       <span>😍</span>great
     </label>
     </div>


   </div>
 </div>
        <p>Proactive communication regarding backorders/unfulfilled orders </p>
        <div class="app3">
   <div class="container3">
     <div class="item3">
       <label for="15">
       <input class="radio3" type="radio" name="feedback" id="15" value="0" >
       <span>🤬</span>awful
     </label>
     </div>

     <div class="item3">
       <label for="16">
       <input class="radio3" type="radio" name="feedback" id="16" value="1" >
       <span>🙁</span>bad
     </label>
     </div>

     <div class="item3">
       <label for="17">
       <input class="radio3" type="radio" name="feedback" id="17" value="2" >
       <span>😶</span>okay
     </label>
     </div>

     <div class="item3">
       <label for="18">
       <input class="radio3" type="radio" name="feedback" id="18" value="3" >
       <span>😁</span>good
     </label>
     </div>

     <div class="item3">
       <label for="19">
       <input class="radio3" type="radio" name="feedback" id="19" value="4" >
       <span>😍</span>great
     </label>
     </div>


   </div>
 </div>
        <p>Overall satisfaction with the Shipping and Delivery Process </p>
        <div class="app4">
   <div class="container4">
     <div class="item4">
       <label for="20">
       <input class="radio4" type="radio" name="feedback" id="20" value="0" >
       <span>🤬</span>awful
     </label>
     </div>

     <div class="item4">
       <label for="21">
       <input class="radio4" type="radio" name="feedback" id="21" value="1" >
       <span>🙁</span>bad
     </label>
     </div>

     <div class="item4">
       <label for="22">
       <input class="radio4" type="radio" name="feedback" id="22" value="2" >
       <span>😶</span>okay
     </label>
     </div>

     <div class="item4">
       <label for="23">
       <input class="radio4" type="radio" name="feedback" id="23" value="3" >
       <span>😁</span>good
     </label>
     </div>

     <div class="item4">
       <label for="24">
       <input class="radio4" type="radio" name="feedback" id="24" value="4" >
       <span>😍</span>great
     </label>
     </div>


   </div>
 </div>
 <br>
 <center>
 <p id="Overall Progress" class="p1"></p>
   <br>
 <button type="button" style="width: 200px;background-color:#F7D51A;color:#F7381A;height:40px;font-size:20px;font-weight:bolder;cursor: pointer;" value="Submit" onclick="display()">Submit</button>
 </center>
 </center>

  </body>
</html>
