<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dj_app/css/login.css' %}"/>
   <style>
		  .box-form .left 
		   {
			color: #FFFFFF;
			background-size: cover;
			background-repeat: no-repeat;
			background-image:url("/static/dj_app/images/pexels-flora-westbrook-3576112.jpg");
			overflow: hidden;
		  }
	</style>
</head>
<body>

<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Happy Stems</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Curabitur et est sed felis aliquet sollicitudin</p>
		<span>
			<p>login with social media</p>
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Login with facebook</a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Login with Twitter</a>
		</span>
		</div>
	</div>


		<div class="right">
		<h1>Login</h1>
		<p>Don't have an account? <a href="signup form.html">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">
			<input type="text" placeholder="user name" id="uname">
			<br>
			<input type="password" placeholder="password" id="passd">
		</div>

			<br><br>

		<div class="remember-me--forget-password">

	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
			<p>forget password?</p>
		</div>

			<br>
			<button type="submit">Login</button>
	</div>

</div>

</body>
</html>
